:root {
    /** colours **/
    --yellow:           #FED766; 
    --lt-seafoam-green: #ecf9f6;
    --seafoam-green:    #43C6AC;
    --md-blue:          #191654;
    --dk-blue:          #0C0B2A;
    --blue-grey:        #6B717E;

    /** typography **/
    --headings:'Monoton', cursive;
    --body: 'Rubik', sans-serif;
}

.sr-only {
    position: absolute;
    top: 0;
    left: -9999999px;
    width: 0.1rem;
    height: 0.1rem;
    visibility: hidden;
}

/* Universal Styles */

body {
    background-color: white;
    font: 1rem/1.5 'Rubik', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* Nav */

.sticky-header{
    background-color: var(--lt-seafoam-green);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}


header img {
    width: 250px;
}

.toggle-btn {
    width: 40px;
}

.toggle {
    visibility: hidden;
    cursor: pointer;
    padding: 1rem 0;
  }

.nav-bar {
    display: flex;
    color: var(--dk-blue);
    justify-content: center;
    align-items: center;
    font-weight: 100;
    list-style-type: none;
}

.nav-bar li > a {
    text-decoration: none;
    align-items: flex-start;
    color: var(--white);
    text-align: right;
    padding: 0.5rem;
}


/* Search Field */

.search-field {
    display: flex;
    align-items: center;
    border: 2px solid var(--dk-blue);
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    
}
  
.search-field img {
    margin-right: 10px; 
    width: 20px; 
    height: 20px; 
}

.search-field input[type="search"] {
    background-color: var(--lt-seafoam-green);
    border: none; 
    outline: none;
    /* width: 100%;  */
}



/* Hero Banner */

.hero-banner {
    background: linear-gradient(90deg, rgba(2,0,36,0.9181034482758621) 0%, rgba(23,9,121,0.8706896551724138) 12%, rgba(0,255,209,1) 100%);
    height: calc(100vh - 300px);
    justify-content: center;
}

h1 {
    font-family: "Monoton", sans-serif;
    font-size: 55px;
    font-weight: 100;
}

.hero-text {
    padding: 5rem 2rem;
    color: var(--lt-seafoam-green);
}

.hero-text p {
    width: 60%;
    font-weight: 100;
}

.hero-btn {
    margin: 3rem 0;
    display: flex;
    gap: 2rem;
}

.lets-together-btn {
    background-color: var(--seafoam-green);
    color: var(--dk-blue);
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    cursor: pointer;
}

.view-our-work-btn {
    background-color: transparent;
    color: var(--seafoam-green);
    border: 2px solid var(--seafoam-green);
    border-radius: 5px;
    padding: 0.8rem;
    cursor: pointer;
}

/* Our Work */

h2 {
    font-family: "Monoton", sans-serif;
    color: var(--md-blue);
    font-size: 40px;
    font-weight: 100;
    text-decoration: underline;
    text-decoration-color: var(--seafoam-green);
}

.our-work {
    padding-bottom: 7rem;
}

.our-work p {
    font-weight: 100;
}

.our-work-text {
    padding: 5rem 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
}

.grid img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.grid p {
    font-size: 16px;
    font-weight: 400;
    padding: 1rem;
    text-transform: uppercase;
  }

/* Odd-numbered p elements */
.grid:nth-child(odd) p {
    background-color: var(--md-blue);
    color: #fff;
}

/* Even-numbered p elements */
.grid:nth-child(even) p {
    background-color: var(--seafoam-green);
    color: var(--md-blue);
}

.btn-container {
    display: inline-flex;
    align-items: center;
    margin: 2rem 0;
    border: 2px solid var(--md-blue);
    border-radius: 5px;

}

.btn-container img {
    width: 3vh;
    color: var(--md-blue);
    margin: 0 3rem 0 0.5rem;
  }

.default-btn {
    background-color: transparent;
    padding: 1rem 0 1rem 3rem;
    cursor: pointer;
    border: none; 
    outline: none;
}

.our-work > .btn-container {
    position: absolute;
    right: 20px;
    top: 200%;
    transform: translateY(-50%);
    z-index: 1;
}


/* What We Do */

.what-we-do {
    display: flex;
}

.what-we-do-text {
    padding: 5rem 2rem;
}

.grid-container2 {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.grid-container2 h3 {
    font-weight: 200;
    font-size: 30px;
    color: var(--seafoam-green);
}

.grid-container2 p {
    font-weight: 100;
}

.grid2 img {
    border-radius: 7px;
}

.grid2 {
    border-radius: 10px;
    padding: 1rem;
    height: 100%;
}

/* Who We Are */

.who-we-are {
    padding: 5rem 2rem;
    display: flex;
    background-color: var(--seafoam-green);
}

.who-we-are img:nth-child(1) {
    width: auto;
    height: auto;
}

.who-we-are-text {
    padding: 0 3rem 3rem 3rem;
}

.who-we-are h2 {
    text-decoration-color: var(--lt-seafoam-green);
}

.who-we-are p {
    padding: 1rem 0;
}


/* Footer Content */

footer {
    justify-content: space-between;
}

.footer-text {
    background-color: var(--md-blue);
    color: var(--lt-seafoam-green);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

h4 {
    font-family: "Monoton", sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.bottom-footer {
    background-color: var(--dk-blue);
    color: var(--lt-seafoam-green);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.office {
    padding: 1rem 0;
}

.newsletter {
    width: 50%;
}

input[type="email"] {
    width: 300px;
    height: 3rem;
}

.newsletter-btn {
    padding: 2rem 0;
}

.subsribe-btn {
    height: 3rem;
    background-color: var(--seafoam-green);
}

.bottom-footer p {
    padding-left: 3rem;
}

.bottom-footer svg {
    color: var(--lt-seafoam-green);
    width: 5%;
    height: 100%;
}

.footer-svg {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 3rem 1rem 1rem;
}

/* Media Queries */

@media (min-width: 320px) and (max-width: 760px) {
    
    .default-btn {
        font-size: 30px;
    }

    /* Nav Bar */

    .nav-content {
        display: none;
        position: absolute;
        background-color: var(--lt-seafoam-green);
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 3;
    }

    .nav-content.active {
        display: block;
    }

    .nav-bar {
        display: block;
    }

    .toggle-btn {
        width: 70px;
    }

    .toggle {
        visibility: visible;
        position: relative;
        cursor: pointer;
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
    }

    .header-content {
        display: block;
    }


    .nav-content {
        position: absolute;
        background-color: var(--lt-seafoam-green);
    }

    .nav-bar li {
        font-size: 40px;
        padding: 0.5rem 0;
    }

    /* Hero */

    .hero-text p {
        width: 100%;
    }

    .hero-btn {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    .lets-together-btn,
    .view-our-work-btn {
        font-size: 22px;
        margin: 0.5rem 0;
        width: 200%;
    }

    /* Our Work */

    h2 {
        font-size: 60px;
    }

    .our-work p {
        font-size: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Create 4 columns */
        grid-template-rows: repeat(2, auto); /* Create 2 rows */
        width: 100%;
        overflow-x: auto;
        
    }
    
    .grid {
        min-width: 600px;
    }

    .our-work {
        padding-bottom: 0rem;
    }


    .our-work > .btn-container {
        position: relative;
        transform: translateY(0%);
        margin: 3rem;
        width: 80%;
    }

    /* What We Do */

    .what-we-do {
        display: block;
    }

    .grid-container2 {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
    }

    .grid2 h3 {
        font-size: 60px;

    }

    .grid2 p {
        font-size: 30px;

    }
    
    /* Who We Are */

    .who-we-are {
        display: block;
        position: relative;
        height: 1400px;
        padding: 10rem 0;
    }

    .who-we-are-img,
    .who-we-are-text {
        position: absolute;
        width: 100%;
    }

    .who-we-are-text {
        top: 20px;
    }

    .who-we-are-img {
        top: 950px;
        right: 220px;
        width: 400px;
    }
    
    .who-we-are h2 {
        font-size: 60px;
    }
    
    .who-we-are p {
        font-size: 30px;
        font-weight: 100;
    }


    /* Footer */

    .footer-text {
        display: block;
    }

    .footer-text h4 {
        font-size: 36px;
    }

    .our-offices {
        font-size: 24px;
    }

    .newsletter {
        width: 100%;
    }

    .newsletter p {
        font-size: 20px;
    }

    .newsletter-btn {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 24px;
    }

    input[type="email"] {
        width: 100%;
        height: 4rem;
    }

    .subsribe-btn {
        height: 4rem;
    }


    .bottom-footer {
        display: block;
        position: relative;
        background-color: var(--dk-blue);
        padding-bottom: 11rem;
    }

    .bottom-footer svg {
        width: 8%;
    }

    .bottom-footer p,
    .bottom-footer .footer-svg {
        position: absolute;
        width: 100%;
    }

    .bottom-footer .footer-svg {
        top: 20px;
        right: 450px;

    }

    .bottom-footer p {
        top: 100px;
        right: 20px;
        font-size: 24px;
    }


}




